form{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

form input{
    width: 400px;
    height: 40px;
    border-radius: 10px;
    border-color: transparent;
    margin-top: 20px;

}
form{
    background-color: #333333;
    box-shadow: 2px 3px 5px rgba(0,0,0,0.1);
    padding: 30px;
    border-radius: 30px;
}

form textarea{
    width: 600px;
    height: 150px;
    border-radius: 20px;
    border-color: transparent;
    margin-top: 20px;
    resize: none;
    padding: 10px;
    font-size: 15px;
    font-family: "IBM Plex Sans", sans-serif;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
form textarea:focus{
    outline: none;
}
.form-container{
    width: 800px;
    margin-left: 25%;
    margin-top: 50px;
}
form button{
    width: 200px;
    height: 40px;
    border-radius: 30px;
    border-color: transparent;
    margin-top: 20px;
    background-color: white;
    color: #DE572A;

}

form button a{
    text-decoration: none;
    color: #DE572A;
    font-weight: lighter;
    font-size: 18px;
}

form input[type="file"]{
    display: none;
}
form label[for="image"]{
    background-color: white;
    color: #DE572A;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 30px;
}

form label[for="description"], form label[for="name"]{
    color: white;
    margin-top: 20px;
}