<footer th:fragment="footer">
    <section class="first-section">
        <h4 class="footer-h4">Get in touch</h4>
        <p class="footer-pg">
            Have questions or need guidance? <br> Reach out to connect with us, we are here <br> to help you on your development
            journey!
        </p>
        <img src="../assets/instagram.png" width="30px" height="30px">
        <img src="../assets/facebook.png" width="30x" height="30px">
        <img src="../assets/twitter.png" width="30px" height="30px">
    </section>
    <section class="second_section">
        <h4 class="footer-h4">Quick Links</h4>
        <ul>
            <li class="footer-pg"><a th:href="@{/home}">Home</a></li>
            <li class="footer-pg"><a th:href="@{/newbiecorner}">Newbie Corner</a></li>
            <li class="footer-pg"><a th:href="@{/reviews}">Reviews</a></li>
            <li class="footer-pg"><a th:href="@{/projectshowcase}">Project Showcase</a></li>
            <li class="footer-pg"><a th:href="@{/community}">Community Q&A</a></li>
        </ul>
    </section>
    <section class="third_section">
        <h4 class="footer-h4">Contact</h4>
        <p class="footer-pg">+1234567890</p>
        <p class="footer-pg">softwaredev@gmail.com</p>
    </section>
</footer>