header{
    height: 100px;
}
main{
    font-family: "IBM Plex Sans", sans-serif;
}
.login-form div{
    display: flex;
    flex-direction: column;
    text-align: left;

}
.login-container .content{
    margin-left: 80px;
    margin-top: 50px;
    color: #333333;
}
.signup-container .content{
    margin-top: 25%;
}
.login-container, .signup-container{
    width: 400px;
    height: 300px;
    text-align: center;
}
.login-container input{
    height: 30px;
    border-radius: 20px;
    width: 250px;
    border-color: transparent;
    box-shadow: 1px 2px 2px rgba(0,0,0,0.2);
    background-color: #eeeeee;
    padding-left: 10px;
}

.login-container{
    background-color: white;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    text-align: left;
    box-shadow: 2px 3px 1px rgba(0,0,0,0.3);
    height: 400px;
}
.login-form .submit-btn{
    width: 250px;
    height: 30px;
    background-color: #F2992A;
    color: white;
    border-radius: 20px;
    border-color: transparent;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    font-weight: bold;
    font-size: 15px;
}
.signup-container .submit-btn{
    border-color: transparent;
    background-color: white;
    border-radius: 20px;
    color: #F2992A;
    font-weight: bold;
    padding: 5px 25px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    font-size: 15px;
}
.signup-container .submit-btn a{
    text-decoration: none;
    color: #F2992A;
}
.signup-container{
    background-color: #F2992A;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    color: white;
    box-shadow: 2px 3px 1px rgba(0,0,0,0.3);
    height: 400px;
}
.main-container{
    display: flex;
    flex-direction: row;
    width: fit-content;
    justify-content: center;
    margin-left: 25%;
    margin-top: 10%;

}
.main-container h1{
    font-size: 25px;
}


