<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Profile</title>
    <th:block th:replace="~{fragments/stylesheet_links :: my_links}"></th:block>
    <link rel="stylesheet" href="/style/pages/account/edit_profile.css">
</head>
<body>
<header>
    <div th:replace="~{fragments/navigation :: navigation}"></div>
</header>
<main>
    <div class="profile-form">
    <form method="post" th:action="@{/edit_profile/{id}(id=${user.id})}" th:object="${user}" enctype="multipart/form-data">

        <input type="hidden" th:field="*{id}">
        <label for="image">Profile Image</label>
        <input type="file" id="image" name="image" th:src="*{profileImage}">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" th:field="*{name}">
        <label for="surname">Surname</label>
        <input type="text" id="surname" name="surname" th:field="*{surname}">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" th:field="*{username}">

        <button type="submit">Submit</button>
    </form>
    </div>
</main>
<footer>
    <div th:replace="~{fragments/footer :: footer}"></div>
</footer>
</body>
</html>