<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
    <link rel="stylesheet" href="/style/pages/account/log_in.css">
    <th:block th:replace="~{fragments/stylesheet_links :: my_links}"></th:block>
</head>
<body>
<header>
    <div th:replace="~{fragments/navigation.html :: navigation}"></div>
</header>
<main>
    <div class="main-container">
    <div class=" login-container">
        <div class="content">
            <h1>Log In</h1>
            <form th:action="@{/log_in}" method="post" class="login-form">
                <div>
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required placeholder="Enter username...">
                </div>
                <br>
                <div>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required placeholder="Enter password...">
                </div>
                <br>
                <button type="submit" value="Log In" class="submit-btn">Log in</button>
            </form>
        </div>
    </div>
    <div class="signup-container">
        <div class="content">
        <h1>Welcome to Log in</h1>
        <p>Don't have an account?</p>
        <button class="submit-btn"><a th:href="@{/sign_up}">Sign up</a></button>
        </div>
    </div>
    </div>
    <div th:replace="~{fragments/footer :: footer}"></div>
</main>
</body>
</html>