<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <link rel="stylesheet" href="/style/pages/account/sign_up.css">
    <th:block th:replace="~{fragments/stylesheet_links :: my_links}"></th:block>
</head>
<body>
<main>
    <h1>Wohoo! Welcome</h1>
    <div class="container">
        <div class="form-container">

            <form method="post" th:object="${userDto}" enctype="multipart/form-data">
                <label for="image">Add Community Profile Image</label>
                <input type="file" id="image" name="image">
                <input type="hidden" th:field="*{profileImage}">
                <label for="name">Name</label>
                <input type="text" id="name"  required placeholder="Enter name..." name="name" th:field="*{name}">
                <label for="surname">Surname</label>
                <input type="text" id="surname"  required placeholder="Enter surname..." name="surname" th:field="*{surname}">
                <label for="email">Email</label>
                <input type="text" id="email" required placeholder="Enter email..." name="email" th:field="*{email}">
                <label for="username">Username</label>
                <input type="text" id="username" required placeholder="Enter username..." name="username" th:field="*{username}">
                <label for="password">Password</label>
                <input type="password" id="password" required placeholder="Enter password..." name="password" th:field="*{password}">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" id="confirmPassword" required placeholder="Enter password..." name="confirmPassword" th:field="*{confirmPassword}">
                <button class="submit-btn" type="submit">Sign up</button>
            </form>

        </div>
    </div>
</main>
</body>
</html>