<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Project</title>
    <link rel="stylesheet" href="/style/pages/projectshowcase/create_project.css">
    <th:block th:replace="~{fragments/stylesheet_links :: my_links}"></th:block>
</head>
<body>
<main>
<header>
    <div th:replace="~{fragments/navigation :: navigation}"></div>
</header>
<section>
    <div class="header-content">
        <p>Submit your project and share it with the community!</p>
        <div class="form-container">
            <form th:action="@{/edit_project/{id}(id=${project.id})}" enctype="multipart/form-data" method="post" th:object="${project}">
                <img th:src="${project.imageUrl != null ? project.imageUrl : project.imageUrl}" alt="Project Image" class="project-img"/>

                <label for="image">Change Project Image</label>
                <input type="file" id="image" name="image">

                <input type="hidden" th:field="*{imageUrl}" name="imageUrl">
                <label for="description">Description</label>

                <textarea id="description" th:field="*{description}" th:text="*{description}"
                          name="description"></textarea>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
    <div th:replace="~{fragments/footer :: footer}"></div>
</section>
</main>
</body>
</html>